.filter {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 40%;
  height: 30px;
  border: 1px solid #DFDFDF;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  &-svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 15px;
  }
}

.visit {
  &-status, &-urgency {
      width: 20%;
      height: 30px;
      border: 1px solid #DFDFDF;
      background-color: #fff;
      padding-left: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      cursor: pointer;
  }
  &-urgency-edit {
    min-width: 35%;
    height: 30px;
    border: 1px solid #DFDFDF;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    font-family: "Golos Text", sans-serif;
    margin-left: 10px;
  }
}