.header {
  .container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  cursor: pointer;
  width: 75px;
  height: 75px;
}
.add,
.logout,
.login {
  cursor: pointer;
  width: 70px;
  height: 50px;
}

.company-name {
  font-size: 30px;
  color: #123065;
}