.login {
  &__email,
  &__password,
  &__email:focus,
  &__password:focus {
    border-width: 0 0 1px 0;
    width: 80%;
    margin: 0 0 0 10px;
  }
  &__submit {
    width: 150px;
    height: 40px;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.314);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    &:hover {
      background-color: #CEE1F3;
    }
  }
}