.label-visit,
.doctor-choose,
.urgency {
  text-align: start;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  line-height: 20px;
  min-width: 130px;
  position: relative;
}