.card-item {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgba(149, 206, 190, 0.33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &.drag-hover {
    &:before {
      content: '';
      position: absolute;
      width: calc(100% - 20px);
      margin: 0 auto;
      height: 1px;
      background-color: #000;
      box-shadow: 0px 0px 3px 1px #646464;
      top: -10px;
    }
  }
  &__info-block {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  &__control-block {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
  }
}

.control-block {
  &__row {
    display: flex;
    gap: 10px;
    & button {
      background-color: rgba(0,0,0,0);
      cursor: pointer;
      transition: .3s;
      color: rgba(0, 0, 0, 0.44);
      font-family: "Golos Text", sans-serif;
    }
    &:hover button {
      background-color: rgba(0,0,0,0);
      cursor: pointer;
      color: #000000;
    }
  }
}

.info-row {
  &__info-type {
    color: #000000B5;
  }
  &__info-text {
    color: #160757;
  }
}